<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
			</button>
			<a href="/" class="navbar-brand">
				Vortek Instruments
			</a>
		</div>
		<div class="navbar-collapse collapse" id="navbar-links">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/" class="quick-link">Home</a></li>
			    <li ><a href="prognosis.html">Prognosis</a></li>
				<li><a href="prognShow.html">Show</a></li>

				<!--VARIABLE BEGS -->
				<li><a href="steam.html">Steam</a></li>
				<!--VARIABLE ENDS -->

				<!--VARIABLE BEGP_H -->
				<li><a href="flow2.html" class="quick-link">Flow</a></li>
				<!--VARIABLE ENDP_H -->
				
				<li><a href="transducer.html" class="quick-link">Meter</a></li>
				<li><a href="fluid.html" class="quick-link">Fluid</a></li>
				
				<!--VARIABLE BEGP_H -->
				<li><a href="diagnostic.html" class="quick-link">Diagnostic</a></li>
				<!--VARIABLE ENDP_H -->
				
				<!--VARIABLE BEGP -->
				<li><a href="diagnosticProgn.html">Diagnostic</a></li>
				<!--VARIABLE ENDP -->
				
				<li><a href="/config.html">Configure</a></li>

				<li><a href="dir.html" class="quick-link">Data Log</a></li>
				<li><a href="debug.html" class="quick-link">Startup Log</a></li>
			</ul>
		</div>
	</div>
</nav>

