<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <meta name="description" content="Home Page">
  <meta name="author" content="Luke Pierce">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <nav>
    <% include partials/nav %>
  </nav>
  <div class="row">
    <div class="col-md-3 offset">
      <% include partials/config %>
    </div>
    <div class="col-md-7 col-md-offset-2">
    </div>
  </div>
  <section class="container container-small">
  </section>
  <footer>
  <% include partials/footer %> 
  </footer>
</body>
</html>