<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <meta name="description" content="Home Page">
  <meta name="author" content="Luke Pierce">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <nav>
    <% include partials/nav %>
  </nav>
  <section class="container container-small">
    <h1 class="text-center">
      Meter Diagnostics
    </h1>
    <br>
    <div class="row">
    <div class="col-md-10 col-centered">
        <article>
          <table class="table table-striped two-row">
            <tbody>
              <tr>
                <th scope="row">Shedding Frequency</th>
                <td>7.4383e-09 Hz</td>
              </tr>
              <tr>
                <th scope="row">Filter Frequency</th>
                <td>2.34184e-38 Hz</td>
              </tr>
              <tr>
                <th scope="row">Fluid Velocity</th>
                <td>9.82409e-29 ft/s</td>
              </tr>
              <tr>
                <th scope="row">Reynolds Number</th>
                <td>1.85636e-09 </td>
              </tr>
              <tr>
                <th scope="row">Temp. Compensated K-Factor</th>
                <td>2.30307 P/ft³</td>
              </tr>
              <tr>
                <th scope="row">RTD1 Resistance</th>
                <td>126.502 Ohms</td>
              </tr>    
              <tr>
                <th scope="row">Insertion Local K</th>
                <td>1.0059e-28 P/ft</td>
              </tr>
              <tr>
                <th scope="row">Scaled Output Frequency</th>
                <td>2.30307 Hz</td>
              </tr>
              <tr>
                <th scope="row">Maximum Velocity</th>
                <td>3.6985e-09 ft/s</td>
              </tr> 
              <tr>
                <th scope="row">Maximum Fluid Temperature</th>
                <td>2.80891e-14 °F</td>
              </tr>
              <tr>
                <th scope="row">Maximum Pressure</th>
                <td>1.83357e-09 PSI</td>
              </tr>
              <tr>
                <th scope="row">Amplitude (Vrms)</th>
                <td>2.43645e+30 Vrms</td>
              </tr>
              <tr>
                <th scope="row">Electronics Temperature</th>
                <td>-2.43641e-32 °F</td>
              </tr>
              <tr>
                <th scope="row">Maximum Electronics Temperature</th>
                <td>1.79618e-35 °F</td>
              </tr>
              <tr>
                <th scope="row">Minimum Electronics Temperature</th>
                <td>1.61246e-27 °F</td>
              </tr>
              <tr>
                <th scope="row">Hourly Flow</th>
                <td>8.02462e-17</td>
              </tr>
              <tr>
                <th scope="row">Obscuration</th>
                <td>2.30307</td>
              </tr>
              <tr>
                <th scope="row">Profile Factor</th>
                <td>2.30307</td>
              </tr>
              <tr>
                <th scope="row">Insertion</th>
                <td>2.30307</td>
              </tr>
              <tr>
                <th scope="row">Pipe Area</th>
                <td>2.30307</td>
              </tr>
              <tr>
                <th scope="row">Glycol Weight %</th>
                <td>2.30307</td>
              </tr>
              <tr>
                <th scope="row">External Loop mA</th>
                <td>2.30307</td>
              </tr>
            </tbody>
          </table>
        </article>
    </div>
  </div>
  </section>
  <footer>
  <% include partials/footer %> 
  </footer>
</body>
</html>