<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <meta name="description" content="Home Page">
  <meta name="author" content="Luke Pierce">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <nav>
    <% include partials/nav %>
  </nav>
  <section class="container container-small">
    <h1 class="text-center">
      Fluid Parameters
    </h1>
    <br>
    <div class="row">
    <div class="col-md-10 col-centered">
        <article>
          <table class="table table-striped two-row">
            <tbody>
              <tr>
                <th scope="row">Selected Fluid Type</th>
                <td>Real Liquid: Water</td>
              </tr>
              <tr>
                <th scope="row">Real Liquid Type</th>
                <td>Water</td>
              </tr>
              <tr>
                <th scope="row">Fluid Standard Temperature</th>
                <td>2.30307 °F</td>
              </tr>
              <tr>
                <th scope="row">Fluid Standard Pressure</th>
                <td>2.30307 psia</td>
              </tr>
              <tr>
                <th scope="row">Fluid Normal Temperature</th>
                <td>2.30307 °C</td>
              </tr>
              <tr>
                <th scope="row">Fluid Normal Pressure</th>
                <td>2.30307 kPa</td>
              </tr>
              <tr>
                <th scope="row">Steam Standard Temperature</th>
                <td>2.30307 °F</td>
              </tr>
              <tr>
                <th scope="row">Steam Standard Pressure</th>
                <td>2.30307 psia</td>
              </tr>
            </tbody>
          </table>
        </article>
    </div>
  </div>
  </section>
  <footer>
  <% include partials/footer %> 
  </footer>
</body>
</html>