<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <meta name="description" content="Home Page">
  <meta name="author" content="Luke Pierce">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <nav>
  	<% include partials/nav %>
  </nav>
  <section class="container container-small">
  	<h1 class="text-center">
  		Vortex Meters
  	</h1>
  	<div class="row">
		<div class="col-md-10 col-centered">
		  	<article>
		  		<h4>
		  			None
		  		</h4>
		  		<table class="table">
				  <tbody>
				    <tr>
				      <th scope="row">Web Interface Rev</th>
				      <td>VRTX_1.15.30</td>
				    </tr>
				    <tr>
				      <th scope="row">Uptime</th>
				      <td>03:14:39</td>
				    </tr>
				    <tr>
				      <th scope="row">Meter RTC</th>
				      <td>00/00/2000 00:00:00</td>
				    </tr>
				  </tbody>
				</table>
				<br>
				<h4>Networking Data</h4>
				<table class="table">
				  <tbody>
				    <tr>
				      <th scope="row">MAC</th>
				      <td>03:14:39</td>
				    </tr>
				    <tr>
				      <th scope="row">NETBIOS Name</th>
				      <td>00/00/2000 00:00:00</td>
				    </tr>
				    <tr>
				      <th scope="row">My IP</th>
				      <td>00/00/2000 00:00:00</td>
				    </tr>
				    <tr>
				      <th scope="row">SD Free Size</th>
				      <td>00/00/2000 00:00:00</td>
				    </tr>
				    <tr>
				      <th scope="row">Options</th>
				      <td>00/00/2000 00:00:00</td>
				    </tr>		    
				  </tbody>
				</table>
				<p class="medText">Transmissions: 5405</p>
				<p class="medText">Errors: 5453</p>
		  	</article>
		</div>
	</div>
  </section>
  <footer>
	<% include partials/footer %>	
  </footer>
</body>
</html>