<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <meta name="description" content="Home Page">
  <meta name="author" content="Luke Pierce">
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <nav>
    <% include ../partials/nav %>
  </nav>
  <div class="row">
    <div class="col-md-3" style="padding-left: 30px;">
      <% include ../partials/config %>
    </div>
    <div class="col-md-9">
      <h2>Meter LCD Display Configuration</h2>
      <br>
      <form action="Output.html" method="POST" class="form-group" id="output">
          <div class="row">
            <div class="col-md-2"> <b>Cycle Time</b></div>
            <div class="col-md-5"> <input type="text" class="form-control" id="cycleTime" value="0"></div>
          </div>
          <br> 
          <div class="row">
            <div class="col-md-2"> <b>Number of Digits</b></div>
            <div class="col-md-5"> <input type="text" class="form-control" id="numDigits" value="0"></div>
          </div>
          <br> 
          <div class="row">
            <div class="col-md-2"> <b>Display TC (s)</b></div>
            <div class="col-md-5"> <input type="text" class="form-control" id="displayTC" value="0"></div>
          </div>
          <br>
          <hr align="left" width="60%">
          <h3>LCD Display Items</h3>
          <br>
          <div class="row">
            <div class="col-md-2">
              <input class="form-check-input big-checkbox" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Totalizer
                </label>
            </div>
            <div class="col-md-2">
              <input class="form-check-input big-checkbox" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Density
                </label>
            </div>
            <div class="col-md-2">
              <input class="form-check-input big-checkbox" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Pressure
                </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <input class="form-check-input big-checkbox" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Temperature
                </label>
            </div>
            <div class="col-md-2">
              <input class="form-check-input big-checkbox" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Volume Flow
                </label>
            </div>
            <div class="col-md-2">
              <input class="form-check-input big-checkbox" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Mass Flow
                </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <input class="form-check-input big-checkbox" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Energy
                </label>
            </div>
            <div class="col-md-2">
              <input class="form-check-input big-checkbox" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Date & Time
                </label>
            </div>
            <div class="col-md-2">
              <input class="form-check-input big-checkbox" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Fluid
                </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <input class="form-check-input big-checkbox" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Alarm[3]
                </label>
            </div>
            <div class="col-md-2">
              <input class="form-check-input big-checkbox" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Alarm[2]
                </label>
            </div>
            <div class="col-md-2">
              <input class="form-check-input big-checkbox" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Alarm[1]
                </label>
            </div>
          </div>
          <br>
          <button type="button" class="btn btn-primary btn-block wideBTN">SET</button>                          
      </form>
    </div>
  </div>
  <section class="container container-small">
  </section>
  <footer>
  <% include ../partials/footer %> 
  </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>
</body>
</html>